.header {
  transition: all 0.5s;
  z-index: 997;
  box-shadow: 0px 2px 20px rgba(1, 41, 112, 0.1);
  background-color: #fff;
  padding-left: 20px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.header .toggle-sidebar-btn {
  font-size: 32px;
  color: #012970;
  padding-left: 10px;
  cursor: pointer;
}
