.logo {
  line-height: 1;
}

@media (min-width: 1200px) {
  .logo {
    width: 280px;
  }
}

.logo img {
  max-height: 26px;
  margin-right: 6px;
}

.logo span {
  font-family: var(--font-family-primary);
  font-weight: 700;
  font-size: 26px;
  color: #012970;
}

a {
  text-decoration: none;
}
