.main {
  position: fixed;
  top: 28px;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100vh;
  z-index: 966;
  transition: all 0.3s;
  padding: 5px;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #aab7cf transparent;
  box-shadow: 0px 0px 20px rgba(1, 41, 121, 0.1);
  background-color: #fff;
  padding-top: 30px;
}
