.page-title i {
  font-size: 20px;
  color: #012970;
}
.page-title h5,
h6 {
  font-size: 26px;
  font-weight: 700;
  margin: 0;
  color: #012970;
}
.page-title h6 {
  font-size: 20px;
}

.page-title {
  border-bottom: 1px solid #e0e0e0;
  background-color: #fff;
  margin-top: 0;
  padding-top: 5px;
}
